# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log

# OS files
.DS_Store

# Build output
dist/
build/

# Misc
*.tgz

# IDE files
.vscode/
.idea/

# Coverage
coverage/

# Optional: lock files
package-lock.json
yarn.lock

# Optional: test output
/test-output/

# ignore any accidentally added service account keys
*.p12
**/keys/**


